<a href="https://colab.research.google.com/github/amit17-debug/DMDWLAB2/blob/main/18IT033Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = 'https://raw.githubusercontent.com/amit17-debug/DMDWLAB2/main/data.csv'
dt1 = pd.read_csv(url)
dt1.head()

   age gender  income  spending  Unnamed: 4
0   22      m   12000      5000         NaN
1   25      f   32000      2300         NaN
2   23      f   22000      4000         NaN
3   22      m   26000      3500         NaN

In [2]:

import numpy

In [3]:
arr=numpy.array([1,2,3,4,5])

In [4]:
arr

array([1, 2, 3, 4, 5])

In [5]:
import numpy as np

In [6]:
arr=np.array([1,2,3,4,5])

In [7]:
print(arr)

[1 2 3 4 5]